.DS_Store

.idea/
.idea/*
*.xml
*.iml
*.pdf
*.xlsx
*.pkl
*/.ipynb_checkpoints/

Decoding/BetterThanRandom/
Decoding/__pycache__/
PaintFiles
Preprocessing/findRejDataLog
Preprocessing/.*

Data/
Data/*
Decoding/*.xslx
Decoding/*.hdf5
Results/
Results/*
Reports/
Reports/*