.DS_Store

.idea/
.idea/*
*.xml
*.iml
*.pdf
*.xlsx
*.pkl

Decoding/BetterThanRandom/
Decoding/__pycache__/
PaintFiles
Preprocessing/findRejDataLog
Preprocessing/.*

Data/
Data/*
Decoding/*.xslx
Results/
Results/*
Reports/
Reports/*
